/* src/styles/produtos.module.scss */

.produtos-page {
    padding: 50px 20px;
    background-color: #f5f5f5;
    h1 {
      text-align: center;
      font-size: 3em;
      margin-bottom: 30px;
    }
    .filtro-tipos {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      button {
        margin: 0 10px;
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: #444;
        }
        &.active {
          background-color: #ff9900;
        }
      }
    }
    .produtos-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .produto-item {
        width: 300px;
        margin: 15px;
        background-color: #fff;
        padding: 20px;
        text-align: center;
        img {
          width: 100%;
          height: auto;
        }
        h3 {
          margin-top: 15px;
          font-size: 1.5em;
        }
        p {
          margin: 10px 0;
        }
        .detalhes-button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #000;
          color: #fff;
          text-decoration: none;
          &:hover {
            background-color: #444;
          }
        }
      }
    }
  }
  