// variables.scss

/* Variáveis de Cores */
$primary-color: #000; /* Preto */
$accent-color: #FFD700; /* Dourado */
$hover-color: darken($accent-color, 10%);
$background-color: #1A1A1A; /* Fundo escuro */
$text-color: #FFFFFF; /* Branco */
$light-gray: #CCCCCC; /* Cinza claro */
$white: #fff;
$black: #000;
$gold: #FFD700;

/* Mixin para Centralização */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
