/* Variáveis de Cores */
$primary-color: #333; /* Cor primária tradicional */
$secondary-color: #ff9900; /* Cor secundária chamativa */
$background-color: #f5f5f5; /* Fundo claro e neutro */
$text-color: #333; /* Cor do texto */
$white: #fff;
$black: #000; /* Definindo a cor preta */
$gold: #FFD700; /* Definindo a cor dourada */

/* Mixin para Centralização */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
